@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #a52929;
  --heading: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-heading: var(--heading);

  /* Replace old geist fonts */
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-syne);
  --font-alexbrush: var(--font-alexbrush);
}

body {
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}
